<header class="text-gray-400 bg-gray-900 border-b-2 border-gray-800 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <img src="/assets/img/azurelogo.png" class="w-10 h-10 text-white p-2 bg-gray-200 rounded" />
            <span class="ml-3 text-xl">Azure</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="/commands" class="mr-5 hover:text-white">Commands</a>
            <a href="https://github.com/PlutonusDev/Azure" class="mr-5 hover:text-white">Source Code</a>
            {{#if auth.username}}
                <a href="/dashboard" class="mr-5 hover:text-white">Dashboard</a>
            {{/if}}
        </nav>
        {{#if auth.username}}
            <a
                href="/auth/logout" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Logout
                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
            </a>
        {{else}}
            <a
                href="/auth/login" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Login
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        {{/if}}
    </div>
</header>