<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <h2 class="sm:text-3xl text-2xl text-white font-medium title-font mb-2 md:w-2/5">Your new favorite,
            fully-featured Discord bot.</h2>
        <div class="md:w-3/5 md:pl-6">
            <p class="leading-relaxed text-base">Azure is a <em>brand-spankin' new</em> open-source Discord bot, packed
                full of fun and social commands, and even a detailed moderation system, built right in.</p>
            <div class="flex md:mt-4 mt-6">
                {{#if auth}}
                    <a href="/dashboard"
                        class="inline-flex text-white bg-red-500 border-0 py-1 px-4 focus:outline-none hover:bg-red-600 rounded">Dashboard</a>
                {{else}}
                    <a href="/auth/login"
                        class="inline-flex text-white bg-red-500 border-0 py-1 px-4 focus:outline-none hover:bg-red-600 rounded">Login</a>
                {{/if}}
                <a target="_blank" href="https://github.com/PlutonusDev/Azure" class="text-red-400 inline-flex items-center ml-4">View
                    Source Code on Github
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">What's the Fuss?
                </h1>
                <div class="h-1 w-20 bg-red-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">I mean, why should you use Azure over another bot?
                Well, take a look at what I can do below, and check out <em class="text-gray-200"><a href="/commands">my commands list</a></em> to help you realize
                my full power!</p>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://dummyimage.com/720x400" alt="content">
                    <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">MODERATION</h3>
                    <h2 class="text-lg text-white font-medium title-font mb-4">Powerful Staff Tools</h2>
                    <p class="leading-relaxed text-base">Our arsenal of moderation features will help you keep Your
                        server running smoothly and as hands-free as you'd like.
                    </p>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://dummyimage.com/720x400" alt="content">
                    <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">FUN</h3>
                    <h2 class="text-lg text-white font-medium title-font mb-4">Plenty to Do</h2>
                    <p class="leading-relaxed text-base">With literally zero (0!) commands, you'll have hours of exploring
                        ahead of you, and plenty more interacting.</p>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://dummyimage.com/720x400" alt="content">
                    <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">EXPERIENCE</h3>
                    <h2 class="text-lg text-white font-medium title-font mb-4">Beautiful Responses</h2>
                    <p class="leading-relaxed text-base">Every response message is hand-crafted for your optical viewing pleasure.
                        Nothing boring here!
                    </p>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://dummyimage.com/720x400" alt="content">
                    <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">ENTERTAINMENT</h3>
                    <h2 class="text-lg text-white font-medium title-font mb-4">Music Commands</h2>
                    <p class="leading-relaxed text-base">Play your favorite music or let Azure queue up some songs for you.</p>
                </div>
            </div>
        </div>
    </div>
</section>