<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex items-center md:flex-row flex-col">
        <div class="flex flex-col md:pr-10 md:mb-0 mb-6 pr-0 w-full md:w-auto md:text-left text-center">
            <h2 class="text-xs text-red-400 tracking-widest font-medium title-font mb-1">CONGRATULATIONS AND WELCOME!
            </h2>
            <h1 class="md:text-3xl text-2xl font-medium title-font text-white">You're now a fully-fledged member.</h1>
        </div>
        <div class="flex md:ml-auto md:mr-0 mx-auto items-center flex-shrink-0 space-x-4">
            <a href="/dashboard"
                class="bg-gray-800 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-700 hover:bg-opacity-50 focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path></svg>
                <span class="ml-4 flex items-center flex-col leading-none">
                    <span class="text-xs text-gray-500 mb-1">READY?</span>
                    <span class="title-font font-medium">To the Dashboard</span>
                </span>
            </a>
        </div>
    </div>
</section>