module.exports = {
    // Database Settings
    database: {
        host: "mongodb://localhost/Azure"
    },

    // Discord Bot Settings
    discord: {
        token: "",
        prefix: "a;",
        appId: "",
        appSecret: ""
    },

    // Webpanel Settings
    webpanel: {
        domain: "mysite.com",
        port: 3000,
        sessionSecret: "YoUShOuLDChAnGeThIs!!"
    }
}